
  

  .loading-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:82vh;
  }
  /* Spinner styling */
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Light gray */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%; /* Circular shape */
    width: 50px; /* Size of the spinner */
    height: 50px; /* Size of the spinner */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  /* Keyframes for the spinning animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }