/* HomePage.css */

.home-container {
  display: flex;
  width: 100%;
 
  
}

.home-title {
  font-size: 4em;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  line-height: 70px;
}

.home-description {
  font-size: 1.4em;
  text-align: start;
}
