
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.auth-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: start;
  padding-top: 25px;
  padding-bottom: 25px;
}

.auth-form {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 65px;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.auth-button {
  margin-top: 45px;
  padding: 14px;
  background-color: #4B0082;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #de6528;
  transition: background-color 0.3s;
}

.auth-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.auth-footer a {
  color: #4B0082;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}

.form-input {
  border: none;
  border-bottom: 2px solid #ccc; 
}

.form-input:focus {
  border-bottom-color: #8d2fc3;
  outline: none;
}
