.nav-container {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.3s ease;
}

ul {
  list-style-type: none;
  display: flex;

}

.nav-link {
  font-size: 20px;
  color: #F5F6F6;
  text-decoration: none;
  padding: 4px 10px;
  box-sizing: border-box;

}
li:hover {
  cursor: pointer;
  color: #F06724;
  transition: color 0.3s ease;
}

.nav-btn{
  background-color: #F5F6F6;
  color: #232F3F;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}