

.ProductCard {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.ProductCard:hover {
  transform: scale(1.05);
  background-color: #f0f8ff;
  cursor: pointer;
}

.card-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 200px;
  margin-bottom: 15px;
}

.ProductCard-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}

.ProductCard-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.ProductCard-category {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}

.products-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    background-color: rgb(183, 131, 67);
    color: rgb(51, 51, 51);
}
